
h1,h2{
  color: #94C5CC;
}

h2{
  font-size: 3rem;
}

.calculations{
  list-style: none;
  color: #fd336d;
}

.calculations li{
  display: inline-block;
  font-size: 1.5rem;
}

.calculator{
  margin: 0 auto;
  border: #fd336d solid 0.2rem;
  box-shadow: -10px 8px #94C5CC;
  width: 40rem;
  padding: 3rem;
}

.calc-display{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: #94C5CC solid 0.2rem;
  border-radius: 1rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.calc-buttons{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 2.5rem);
  gap: 1rem;
}


button{
  color:#94C5CC;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: solid 0.2rem;
  border-radius: 1rem;
  background-color: #000100;
}

button:hover{
  color: #fd336d;
  border-color: #fd336d;
  background-color: #27272b;
}

.ac, .c{
  border-color: #fb4d3d;
}

.nine,.eight,.seven,.six,.five,.four,.three,.two,.one,.zero,.sign,.decimal{
  border-color: #5d576b;
}
.ms,.mc, .mr, .m-minus, .m-plus{
  border-color: #87F5FB;
}

.add, .subtract,.multiply,.divide,.percent,.square-root{
  border-color: #d90368;
}

.equal{
  border-color: #5e2bff;
}

.four{
  grid-column: 1/2;
}
.one{
  grid-column: 1/2;
}

.zero{
  grid-column: 2;
  grid-row: 5;
}

.sign{
  grid-column: 1;
  grid-row: 5;
}
.decimal{
  grid-column: 3;
  grid-row: 5;
}

.percent{
  grid-column: 4/6;
  grid-row: 2;
}
.square-root{
  grid-column: 6/8;
  grid-row: 2;
}

.add{
  grid-column: 4/6;
  grid-row: 3;
}
.subtract{
  grid-column: 6/8;
  grid-row: 3;
}
.divide{
  grid-column: 6/8;
  grid-row: 4;
}
.multiply{
  grid-column: 4/6;
  grid-row: 4;
}


.equal{
  grid-column: 4/8;
  grid-row: 5;
}



