@charset "utf-8";

/* Resets */

/* Paul Irish - Box Sizing Reset 
   - https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #353535;
}

header, footer, main, article, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 nav a, label, input, textarea, button, form p, .valid-feedback, .invalid-feedback {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

p {
    line-height: 1.6;
    font-size: 1.15em;
}

li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

code {
    background-color: #eeeeee;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.warning {
    padding: 16px;
    background-color: #fdb3b3;
}

.warning p {
    margin: 0;
}

.warning:not(.warning-no-script){
    margin-bottom: 1em;
}



header {
    background-color: #f7df1c;
    padding: 20px;
}

header h1 {
    margin: 0;
    line-height: 1;
}

.long-main-heading {
    font-size: 0.95em;
}

.medium-main-heading {
    font-size: 1.4em;
}

@media (min-width: 360px){
    .long-main-heading {
        font-size: 1.10em;
    }

    .medium-main-heading {
        font-size: 1.6em;
    }
}

@media (min-width: 410px){
    .long-main-heading {
        font-size: 1.3em;
    }
    .medium-main-heading {
        font-size: 1.6em;
    }
}

@media (min-width: 460px){
    .long-main-heading {
        font-size: 1.5em;
    }
    .medium-main-heading {
        font-size: 2em;
    }
}

@media (min-width: 560px){
    .long-main-heading {
        font-size: 1.8em;
    }
}

@media (min-width: 600px){
    .long-main-heading {
        font-size: 2em;
    }
}

main {
    padding: 20px;
    flex: 1;
}

form {
    border: 1px solid #858585;
    padding: 20px;
    margin-bottom: 30px;
}

.form-row {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}

.form-row-positions p {
    width: 100%;
    margin-bottom: 8px;
}

.form-group {
    width: 100%;
}

.errors {
    border: 2px solid #FF4245;
    border-radius: 10px;
    background-color: #FCEEEE;
    padding: 20px;
    margin-bottom: 30px;
    display: none;
}

.errors ul {
    margin-bottom: 0;
}

.errors li {
    margin-bottom: 8px;
}

.errors li:last-child {
    margin-bottom: 0;
}

.form-demo-box-inline-validation .form-group {
    min-height: 93px;
} 

@media (min-width: 600px){
    .form-group:not(.form-group-textarea) {
        width: 49%;
    }
}



.form-check label {
    position: relative;
    top: 2px;
}

/* .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.submit {
    margin-bottom: 0;
}

.input-group label {
    flex: 0 0 100px;
    font-size: 1.15em;
    margin-right: 10px;
}

.input-group input {
    display: block;
    flex: 1;
    width: 100%;
    padding: 4px;
    font-size: 1.15em;
} */
.pg-kitten-slide-show article {
    text-align: center;
}

.slide-show-container {
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #3a3939;
}

.slide-show-controls {
    margin-top: 20px;
    text-align: center;
}

footer {
    padding: 20px;
    border-top: 1px dotted #858585;
}

footer p {
    line-height: 1;
    margin: 0;
}

/* Utility Classes */
.demo-table {
    border: 1px solid #353535;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.demo-table td {
    padding: 8px;
    border: 1px solid #353535;
}

.box-row {
    display: flex;
    max-width: 300px;
}

.box {
    flex: 1;
    margin-right: 6px;
    background-color: #40f777;
    border: 2px solid #035c03;
    position: relative;   
}

.box:last-child {
    margin-right: 0;
}
.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.pg-js-events .gallery {
    padding: 20px;
    border: 5px solid green;
    max-width: 420px;
    margin: 0 auto 30px;
}

.pg-js-events .main-slide {
    margin-bottom: 20px;
}

.pg-js-events .main-slide img {
    display: block;
    width: 100%;
}

.pg-js-events .thumbs {
    display: flex;
}

.pg-js-events .thumbs a {
    flex: 1;
    margin-right: 6px;
}

.pg-js-events .thumbs img {
    pointer-events: none;
    display: block;
}

.pg-js-events .thumbs a:last-child {
    margin-right: 0;
}

.mouse-event-demo {
    margin-bottom: 30px;
}

.demo-title {
    text-align: center;
}

.mouse-event-demo .box-container-01,
.set-timeout-demo,
.set-interval-demo,
.request-animation-frame-demo,
.animate-frame-demo {
    height: 300px;
    max-width: 600px;
    border: 5px solid red;
    position: relative;
    margin: 0 auto;
    background-color: #353535;
}

.set-interval-demo-02,
.request-animation-frame-demo-01,
.animate-demo-01 {
    background-color: black;
}

.set-timeout-demo,
.set-interval-demo,
.request-animation-frame-demo,
.animate-demo {
    padding: 20px;
    color: white;
    border: 5px solid #1c61f7;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.set-timeout-demo h3,
.set-interval-demo h3,
.request-animation-frame-demo h3,
.animate-demo h3 {
    margin-bottom: 8px;
}

.set-timeout-demo .demo-box-col,
.set-interval-demo .demo-box-col,
.request-animation-frame-demo .demo-box-col,
.animate-demo .demo-box-col {
    border: 3px solid white;
    padding: 10px;
    font-size: 0.6em;
}

.set-timeout-demo .demo-box-col-01,
.set-timeout-demo .demo-box-col-02,
.set-interval-demo .demo-box-col-01,
.set-interval-demo .demo-box-col-02,
.request-animation-frame-demo .demo-box-col-01,
.request-animation-frame-demo .demo-box-col-02,
.animate-demo .demo-box-col-01,
.animate-demo .demo-box-col-02 {
    width: 48%;
    margin-bottom: 4%;
}

.set-interval-demo-02 .demo-box-col-01,
.request-animation-frame-demo .demo-box-col-01,
.animate-demo .demo-box-col-01 {
    padding-left: 4px;
    padding-right: 4px;
}

.set-timeout-demo .demo-box-col-03,
.set-interval-demo .demo-box-col-03,
.set-interval-demo-02 .demo-box-col-01,
.set-interval-demo-02 .demo-box-col-02,
.request-animation-frame-demo-01 .demo-box-col-01,
.request-animation-frame-demo-01 .demo-box-col-02,
.animate-demo-01 .demo-box-col-01,
.animate-demo-01 .demo-box-col-02 {
    width: 100%;
}

.set-interval-demo-02 .demo-box-col-01,
.request-animation-frame-demo-01 .demo-box-col-01,
.animate-demo-01 .demo-box-col-01 {
    height: auto;
    position: relative;
}

.set-timeout-demo .demo-box-col :last-child,
.set-interval-demo .demo-box-col :last-child,
.request-animation-frame-demo .demo-box-col :last-child,
.animate-demo .demo-box-col :last-child {
    margin-bottom: 0;
}

.set-timeout-demo p,
.set-interval-demo p,
.request-animation-frame-demo p,
.animate-demo p {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.pac-man-container {
    width: calc(100% - 45px);
    height: 60px;
    position: relative;
}

.set-interval-demo .pac-man,
.request-animation-frame-demo .pac-man,
.animate-demo .pac-man {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 0 ;
    margin-top: -20px;
}

@media (min-width: 500px){
    .set-timeout-demo .demo-box-col {
        font-size: 0.75em;
    }
    
    .set-timeout-demo .demo-box-col-01,
    .set-timeout-demo .demo-box-col-02,
    .set-timeout-demo .demo-box-col-03,
    .set-interval-demo .demo-box-col-01,
    .set-interval-demo .demo-box-col-02,
    .set-interval-demo .demo-box-col-03,
    .request-animation-frame-demo .demo-box-col-01,
    .request-animation-frame-demo .demo-box-col-02,
    .animate-demo .demo-box-col-01,
    .animate-demo .demo-box-col-02 {
        width: 32%;
        margin-bottom: 0;
    }

    .set-interval-demo-02 .demo-box-col-02,
    .request-animation-frame-demo-01 .demo-box-col-02,
    .animate-demo-01 .demo-box-col-02 {
        width: 30%;
    }

    .set-timeout-demo .demo-box-col-03,
    .set-interval-demo .demo-box-col-03,
    .set-interval-demo-02 .demo-box-col-02,
    .request-animation-frame-demo-01 .demo-box-col-02,
    .animate-demo-01 .demo-box-col-02 {
        order: -1;
    }

    .set-interval-demo-02 .demo-box-col-01,
    .request-animation-frame-demo-01 .demo-box-col-01,
    .animate-demo-01 .demo-box-col-01 {
        flex: 1;
        height: auto;
    }

    .set-interval-demo-02 .demo-box-col-02,
    .request-animation-frame-demo-01 .demo-box-col-02,
    .animate-demo-01 .demo-box-col-02 {
        margin-right: 4%;
    }

}

@media (min-width: 560px){
    .set-timeout-demo .demo-box-col,
    .set-interval-demo .demo-box-col,
    .request-animation-frame-demo .demo-box-col,
    .animate-demo .demo-box-col {
        font-size: 0.85em;
    }
}

@media (min-width: 580px){
    .set-interval-demo-02 .demo-box-col-02,
    .request-animation-frame-demo-01 .demo-box-col-02,
    .animate-demo-01 .demo-box-col-02 {
        width: 25%;
    }
}

@media (min-width: 620px){
    .set-timeout-demo .demo-box-col,
    .set-interval-demo .demo-box-col-01,
    .request-animation-frame-demo .demo-box-col-01,
    .animate-demo .demo-box-col-01 {
        font-size: 1em;
    }
}

.jq-slide-show-container {
    max-width: 600px;
    margin: 0 auto;
}

.jq-slides {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: calc(9 / 16 * 100%);
}

.jq-slide-show-container img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.jq-slide-show-controls {
    margin-top: 10px;
    text-align: center;
}

.jq-slide-show-description {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 530px) {
    .jq-slide-show-description {
        text-align: center;
    }
}

/* jQuery Effects */
.jq-effect-container {
    border: 3px solid #353535;
    padding: 16px;
    display: grid;
    grid-row-gap: 12px;
    margin-bottom: 20px;
}

.jq-effect-container h3 {
    margin: 0;
}

.jq-effect-container .effect-box-container {
    height: 0;
    overflow: hidden;
    padding-top: calc(1 / 2.5 * 100%);
    position: relative;
}

.jq-effect-container .effect-box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.jq-effect-container .effect-box-controls {
    text-align: center;
}

.show .effect-box {
    background-color: #FCD9B1;
    border: 5px solid #EE861E;
}

.slide .effect-box {
    background-color: #CAFBFB;
    border: 5px solid #107B87;
}

.fade .effect-box {
    background-color: #F8D5F9;
    border: 5px solid #AF18BC;
}

.top-row {
    margin-bottom: 20px;
}

.show-hide-menu {
    margin-bottom: 20px;
    border: 1px solid #353535;
    padding: 8px;
}

@media (min-width: 500px){
    .jq-effects-outer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 12px;
    }
    .jq-effect-container .effect-box-container {
        padding-top: calc(9 / 16 * 100%);
    }
}

.btn-menu {
    margin-bottom: 16px;
}

.show-hide-menu .options {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #505050;
    display: none;
}

.show-hide-menu li {
    margin: 0;
}

.show-hide-menu a {
    display: block;
    line-height: 42px;
    padding: 0 12px;
    border-bottom: 1px dotted #505050;
    color: black;
    text-decoration: none;
}

.show-hide-menu li:last-child a {
    border-bottom: none;
}

.show-hide-menu a:hover,
.show-hide-menu a:focus,
.show-hide-menu a:active {
    background-color: #f0f0f0;
}

.show-hide-menu .options .text {
    margin-left: 8px;
}

.show-hide-text {
    padding: 8px;
    border: 1px solid #353535;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
}

.show-hide-text h4 {
    margin-bottom: 8px;
}

.show-hide-text h5 {
    margin-bottom: 12px;
}

.show-hide-text .bio-text-control {
    margin-bottom: 8px;
}

.show-hide-text .bio-text-content {
    font-size: 0.7em;
}

.bio-text-content {
    display: none;
}

/* Accordion */
.accordion {
    padding: 8px;
    border: 1px solid #353535;
    max-width: 600px;
    margin: 0 auto;
}
.accordion .tab {
    background-color: #83f1ff;
    border-bottom: 1px solid #1ab0c4;
    padding: 8px 16px;
    cursor: pointer;
}

.pane:first-of-type .tab {
    border-top: 1px solid #1ab0c4;
}

.accordion .tab.open {
    border-bottom: none;
}

.accordion h4, 
.accordion p {
    margin: 0;
}

.accordion .tab h4 {
    line-height: 1;
}

.accordion p {
    font-size: 0.7em;
}

.accordion h5 {
    margin-bottom: 10px;
}

.content {
    padding: 10px 8px;
    display: none;
}

.lightbox-image-container {
    display: grid;
    grid-row-gap: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.lightbox-image-container img {
    display: block;
}

@media (min-width: 420px){
    .lightbox-image-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8px;
    }
}

@media (min-width: 520px){
    .lightbox-image-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 640px){
    .jquery-lightbox-plugin-title {
        text-align: center;
    }
}


@media (min-width: 480px){
    .practical-uses-container .top-row {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-column-gap: 16px;
        align-items: stretch;
    }

    .practical-uses-container h3 {
        font-size: 1em;
    }
    .show-hide-text {
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 8px;
        grid-row-gap: 0;
    } 
    .bio-text-outer-wrapper {
        height: auto;
    }

    .top-row-col-01,
    .top-row-col-02 {
        height: 220px;
    }

    .top-row-col-01,
    .top-row-col-02 {
        display: flex;
        flex-direction: column;
    }
    .show-hide-menu,
    .show-hide-text {
        flex: 1;
        margin: 0;
    }
    .bottom-row-col-01 h3 {
        text-align: center;
    }
}

.show-hide-text .bio-text-content p {
    margin: 0;
}

.mouse-event-demo .smiley-face {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
}

.mouse-event-demo img {
    display: block;
}

.parent-node-demo-container {
    margin-bottom: 30px;
}

.parent-node-demo-container .parent-box,
.closest-node-demo-container .parent-box,
.find-parents-node-demo-container .parent-box {
    border: 5px solid #058605;
    background-color: #bee9be;
    max-width: 500px;
    height: 230px;
    margin: 0 auto 20px;
}

.parent-node-demo-container .parent-box-03,
.parent-node-demo-container .parent-box-04,
.parent-node-demo-container .parent-box-05,
.parent-node-demo-container .parent-box-06 {
    height: auto;
    padding: 42px;
    display: flex;
    justify-content: space-between;
}

.closest-node-demo-container .grandparent-box,
.find-parents-node-demo-container .grandparent-box {
    border: 5px solid #f3ef04;
    background-color: #fffeb1;
    max-width: 500px;
    margin: 0 auto 20px;
}

.find-parents-node-demo-container .grandparent-box {
    margin-bottom: 0;
}

.find-parents-node-demo-container .great-grandparent-box {
    border: 5px solid #e28000;
    background-color: #ffbe46;
    max-width: 500px;
    padding: 30px;
    margin: 0 auto 20px;
}


.closest-node-demo-container .parent-box,
.find-parents-node-demo-container .parent-box {
    width: 280px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
}

.parent-node-demo-container .child-box,
.closest-node-demo-container .child-box {
    border: 5px solid #ff1818;
    background-color: #ffafaf;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.find-parents-node-demo-container .child-box {
    border: 5px solid #ff1818;
    background-color: #ffafaf;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.parent-node-demo-container .parent-box-03 .child-box {
    width: 30%;
    height: 80px;
    margin: 0;
}

.parent-node-demo-container .parent-box-04 .child-box,
.parent-node-demo-container .parent-box-05 .child-box,
.parent-node-demo-container .parent-box-06 .child-box {
    width: 16%;
    height: 60px;
    margin: 0;
}

.closest-node-demo-container .child-box {
    margin-top: 32px;
    margin-right: 32px;
    width: 80px;
    height: 80px;
}

.parent-node-demo-container .selected,
.closest-node-demo-container .selected,
.find-parents-node-demo-container .selected {
    border: 5px solid #120586;
    background-color: #c4d5fc;
}

.parent-node-demo-container .special {
    border: 5px solid #f3ef04;
    background-color: #fffeb1;
}

.parent-node-demo-container .app-controls {
    text-align: center;
}

.innerhtml-vs-text-content-demo-container {
    margin-bottom: 30px;
}


.innerhtml-vs-text-content-demo-container h4 {
    margin-bottom: 10px;
}

.innerhtml-vs-text-content-demo-container .input,
.innerhtml-vs-text-content-demo-container .output {
    padding: 10px;
    border: 2px solid #353535;
    margin-bottom: 10px;
}

.innerhtml-vs-text-content-demo-container .output {

    display: flex;
    justify-content: space-between;
}

@media (min-width: 430px){
    .innerhtml-vs-text-content-demo-container {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    
    .innerhtml-vs-text-content-demo-container h4 {
        margin-bottom: 10px;
    }
    
    .innerhtml-vs-text-content-demo-container .input,
    .innerhtml-vs-text-content-demo-container .output {
        width: 30%;
        padding: 10px;
        border: 2px solid #353535;
        margin-bottom: 0;
    }
    
    .innerhtml-vs-text-content-demo-container .output {
        width: 68%;
        display: flex;
        justify-content: space-between;
    }
}

.innerhtml-vs-text-content-demo-container .output > * {
    width: 49%;
    border: 2px solid #353535;
    padding: 10px;
    min-height: 124px;
}


.innerhtml-vs-text-content-demo-container ul {
    padding-left: 18px;
    margin: 0;
}

.innerhtml-vs-text-content-demo-container li {
    font-size: 0.95em;
    margin-bottom: 8px;
}

.innerhtml-vs-text-content-demo-container li:last-child {
    margin-bottom: 0;
}

.innerhtml-vs-text-content-demo-container .app-controls {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 300px;
}

.innerhtml-vs-text-content-demo-container .app-controls button {
    display: block;
    margin-bottom: 10px;
    width: 49%;
    max-width: 150px;
    font-size: 0.5em;
}

@media (min-width: 430px) {

    .innerhtml-vs-text-content-demo-container .app-controls {
        max-width: 400px;
    }

    .innerhtml-vs-text-content-demo-container .app-controls button {
        font-size: 0.8em;
        max-width: 200px;
    }
}

.jq-off {
	background-color: #FBBDC4;
	padding: 10px 25px 15px 25px;
	border: 3px solid #C41A33;
	max-width: 570px;
	text-align: center;
	margin: 20px auto 30px;
}

.jq-off:before {
	content: '☹';
	position: relative;
	right: 10px;
	font-size:24px;		
}

.jq-off:after {
	content: '☹';
	position: relative;
	left: 10px;
	font-size:24px;	
}

.jq-on {
	background-color: #D5FFB9;
	padding: 10px 25px 15px 25px;
	border: 3px solid #43A800;
	max-width: 570px;
	text-align: center;
	margin: 20px auto 30px;
}

.jq-on:before {
	content: '☺';
	position: relative;
	right: 10px;
	font-size:24px;		
}

.jq-on:after {
	content: '☺';
	position: relative;
	left: 10px;
	font-size:24px;	
}

.demo-box {
    padding: 20px;
    border: 2px solid #353535;
    margin-bottom: 20px;
}

.demo-box :last-child {
    margin-bottom: 0;
}

.demo-box-object ul {
    list-style: none;
    padding: 0;
}

.demo-box-object li {
    display: flex;
    align-items: center;
}

.demo-box-object li {
    font-size: 1em;
}

.demo-box-object :first-child {
    margin-right: 8px;
}

.demo-box-object img {
    display: block;
    width: 50px;
    height: auto;
}

.demo-box > .data-output > img:first-child {
    margin-top: 20px;
}

.demo-box-fetch ol {
    padding-left: 20px;
}
.demo-box-fetch p {
    margin-top: 20px;
}

.data-output-dog-api{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    margin-top: 20px;
    position: relative;
}

.data-output-dog-api > * {
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
    padding-top: calc(2 / 3 * 100%);
    position: relative;
}

.data-output-dog-api img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.data-output-dog-api img:not(.spinner) {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@media (min-width: 460px){
    .data-output-dog-api{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px){
    .data-output-dog-api{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Utility Styles */
.code-block {
    background-color: #eeeeee;
}


.d-inline-block {
    display: inline-block;
}

.mb10 {
    margin-bottom: 10px;
}

.mlr0 {
    margin-left: 0;
    margin-right: 0;
}

.mc {
    margin-left: auto;
    margin-right: auto;
}

.mw500 {
    max-width: 600px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb20 {
    margin-bottom: 20px;
}

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ti23 {
    text-indent: 23px;
}

.article-title-center {
    text-align: center;
}



