@charset "utf-8";
/* CSS Document */

/* Box Sizing Reset code from: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* general styles */

body {
	background-color: #999;
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;	
}

h1, h2, h3, p {
	margin-top: 0;
}

p {
    line-height: 1.4;
}

/* end general styles */


/* Wrapper Styles */

.wrapper {
	max-width: 800px; 
	margin: 0 auto; /* 0 = top and bottom / auto = left and right */
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;	
}

/* End Wrapper Styles

/* Header Styles */

header {
	padding: 15px;
	background-color: #063;
	color: white;
}

header h1 {
	margin: 0;
}

header a {
	color: white;
	text-decoration: none;
}

/* End Header Styles */

/* End Main Navigation Styles */

/* Start Content Styles */
main {
	display: block;
	padding: 15px;
	flex: 1;	
}

.banner {
	margin-bottom: 20px;
}

.banner img {
	display: block;
}

section h2 {
	margin-top: 0;
}

.web-image-format-demo-box {
    background-color: #d8d8fa;
    border: 5px solid #2424e9;
    padding: 20px;
    margin-bottom: 20px;
}

.web-image-format-demo-box img,
.web-image-format-demo-box svg {
    margin-bottom: 20px;
}

.web-image-format-demo-box p:last-child {
    margin-bottom: 0;
}

.gif img {
    width: 180px;
}

.svg-donut .outer {
    stroke-dasharray:1000;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
}



.svg-donut:hover .outer {
    stroke-dashoffset: 1000 !important;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes show75 {
    from {
      stroke-dashoffset: 1000;
    }
    
    to {
      stroke-dashoffset: 0;
    }
}
  
.svg-donut .inner-border {
    stroke: #000;
    fill: transparent;
}

.svg-donut .outer-border {
    stroke: #000;
    fill: transparent;
}

/* End Content Styles */

/* Footer Styles */

footer {
	padding: 15px;
	background-color: #C09;
	color: #FFF;
}

footer p {
	margin: 0;	
}

/* End Footer Styles */
@media (min-width: 620px){
	main {
		padding: 30px;
	}
}





